<ul class="pt-3">
  <% @restaurants.each do |rest| %>
    <li>  
      <%= link_to rest.name + " - " + rest.address  + " - " + rest.category, restaurant_path(rest)  %>
    </li>
  <% end %>
    
</ul>

<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary ml-3" %>